In [2]:
import pandas as pd


verb_dict = pd.read_json('src/json data/verb_dict.json')

verb_dict.head()

  Salitang-ugat Pangnagdaan Pangkasalukuyan Panghinaharap   Pawatas  Katatapos
0          abot    nagabot        nagaabot      magaabot   magabot    kaaabot
1        abutin    inabot         inaabot        aabutin    abutin
2          agaw    nagagaw        nagaagaw      magaagaw   magagaw    kaaagaw
3        agawin     inagaw         inaagaw       aagawin    agawin
4         akyat   umakyat        umaakyat         aakyat   umakyat   kaaakyat

In [3]:
import csv

field_names= ['Salitang-ugat', 'Pangnagdaan', 'Pangkasalukuyan', 'Panghinaharap', 'Pawatas', 'Katatapos']

with open('src/csv data/Verb.csv', 'w') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    writer.writeheader()
    writer.writerows(verb_dict.to_dict('records'))

In [4]:
def trim(dataset):
    trim = lambda x: x.strip() if type(x) is str else x
    return dataset.applymap(trim)

dataset = trim(pd.read_csv('src/csv data/Verb.csv'))
dataset.head()

  Salitang-ugat Pangnagdaan Pangkasalukuyan Panghinaharap  Pawatas Katatapos
0          abot     nagabot        nagaabot      magaabot  magabot   kaaabot
1        abutin      inabot         inaabot       aabutin   abutin
2          agaw     nagagaw        nagaagaw      magaagaw  magagaw   kaaagaw
3        agawin      inagaw         inaagaw       aagawin   agawin
4         akyat     umakyat        umaakyat        aakyat  umakyat  kaaakyat